---
layout: default
---

<div class="projects">

  {%- if page.title -%}
  <h1 class="page-heading hidden"><strong>{{ page.title }}</strong></h1>
  {%- endif -%}

    {%- if site.projects.size > 0 -%}
    <ul class="post-list">
      {%- for project in site.projects -%}
      <li itemscope itemtype="https://schema.org/CreativeWork" >
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <div class="project-title">
            <h3 itemprop="name">
                <a itemprop="url" class="post-link" href="{{ project.github_url }}">
                    {{ project.name | escape }}
                </a>
            </h3>
        </div>
        <div class="project-content">
            {%- if project.description -%}
            <h4 itemprop="description" itemprop="abstract">
                {{ project.description }}    
            </h4>
            {%- endif -%}
        </div>
        <div class="project-footer">
            <div class="meta">
                {%- if project.date -%}
                    <i class="fa fa-sun-o"></i>
                    <span itemprop="dateModified" class="date">
                        {{ project.date }} 
                    </span>
                {%- endif -%}
                {%- if project.tags.size > 0 -%}
                    <i class="fa fa-tag">&nbsp</i>
                    <span itemprop="keywords">
                    {%- for tag in project.tags -%}
                        <span class="tag">{{ tag }}&nbsp&nbsp</span>
                    {%- endfor -%}
                    </span>
                {%- endif -%}
            </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}
</div>
